
.card{
    
    background-color: goldenrod;
    min-width: 50vw;
    border: 1px solid black;
    margin: 10px;
}

.cardName{
    color:darkblue;
    width: 100%;
    background-color: wheat;
}

span{
    font-weight:500 ;
    text-transform: uppercase;
}

p {
    font-size: 20px;
}

.actions{
    padding: 10px;
    margin-top: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions a, 
.actions button{
    text-decoration: none;
    border: none;
    background-color: #FFF;
    color: #222;
    padding: .6em 1em;
    margin-right: 1em;
    border: 1px solid #222;
    display: flex;
    justify-content: center;
    transition: 0.2s;
    cursor: grab;
}

.actions a:hover, 
.actions button:hover{
    background-color: darkblue;
    color: #FFF;
}
