.form_style_input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 100%;
}

.form_style_input input{
    padding: 5px;
}

.form_style_input input::placeholder{
    font-size: large;
}

.form_style_input label{
    padding: .7em;
    border-radius: 0;
    border: none;
    font-size: 30px;
}
