.form_control{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label{
    padding: 1px;
    font-size: 30px;
    border-radius: 0;
    border: none;
}

.form_control select{
    padding: 7px;
}

.form_control input select{
    color: #7b7b7b;
    padding: 1px;
    border-radius: 0;
    border: none;
}